h2 {
    color: blue;
    text-align: center;
    font-size: 35px;
}

p {
    color: blue;
    text-align: center;
    font-size: 25px;
}

#numero{
    width: 150px;
    height: 15px;
    font-size: 20px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

#btn {
    width: 120px;
    height: 60px;
    border-color: black;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15px;
    color: white;
    background-color: blue;
    font-size: 20px;
    padding: 20px;
    
}

#iput {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#res {
    text-align: center;
    font-size: 80px;
    color: red;
    font-weight: bold;
    border: solid red;
    width: 50%;
    height: 30%;
    margin: 0 auto;
    padding: 50px;
    margin-top: 20px;
}